{% extends 'widgets/base_widget.html' %}
{% load static %}
{% block widget %}

{% if data.error%}
	{{data.error}}
{% else %}
	<div class="stat-widget-one">
		<iframe width="320" height="170" src="https://www.youtube.com/embed/{{data.video}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		<div class="stat-content dib">
			<div class="stat-text">{{ data.views }} views</div>
			<div class="stat-digit">
				<img src="{% static "images/like.png" %}" height="42" width="42">
				{{ data.likes }}
				<img src="{% static "images/dislike.jpg" %}" height="42" width="42">
				{{ data.dislikes }}
			</div>
			<div class="stat-digit">Comments: {{ data.comments }}</div>
	   	</div>
	</div>
{% endif %}
{% endblock %}