<!DOCTYPE html>
<html>
<head>
    <title>Dashboard - Homepage</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="page">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand">Welcome to the Dashboard</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/login"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="selectWidget">
            <label>Add Widget</label>
            <div class="widget-content">
                <input type="checkbox" id="checkWeather" OnClick="Change()">
                <label>Weather</label>
                <br>
                <input type="checkbox" id="checkTDL" OnClick="Change()">
                <label>To Do List</label>
                <br>
                <input type="checkbox" id="checkML" OnClick="Change()">
                <label>Movies List</label>
                <br>
                <input type="checkbox" id="checkMD" OnClick="Change()">
                <label>Movies Description</label>
                <br>
                <input type="checkbox" id="checkMR" OnClick="Change()">
                <label>Movies Reviews</label>
                <br>
                <input type="checkbox" id="checkCC" OnClick="Change()">
                <label>Money Converter</label>
                <br>
            </div>
        </div>
        <div class="container-fluid bg-3 text-center">
            <div class="row">
                <div id="weather" class="col-sm-4">
                    <h3>Weather</h3>
                    <input id="city" class="weather-input" type="text" placeholder="Enter a City" required>
                    <div class="hr"></div>
                    <input type="submit" class="weather-button" value="Get Weather" OnClick="weather()">
                    <div class="hr2"></div>
                    <div class="weatherDisplay">
                        <h3 id="weatherCity"></h3>
                        <p id="temp"></p>
                        <p id="tempMinMax"></p>
                        <p id="wind"></p>
                        <p id="desc"></p>
                    </div>
                </div>
                <div id="ToDoList" class="col-sm-4">
                    <h3>To Do List</h3>
                    <div id="container">
                        <input type="text" class="ToDoItems" placeholder="Add Items">
                        <ul></ul>
                    </div>
                </div>
                <div id="Lmovies" class="col-sm-4">
                    <h3>Movies List</h3>
                    <input id="lMovie" class="movie-input" type="text" placeholder="Enter a movie" required>
                    <div class="hr"></div>
                    <input type="submit" class="movie-button" value="Get Movies" OnClick="moviesList()">
                    <div class="hr2"></div>
                    <div class="moviesDisplay">
                        <table id="listMovies"></table>
                    </div>
                </div>
                <div id="Dmovies" class="col-sm-4">
                    <h3>Movie Description</h3>
                    <input id="dMovie" class="movie-input" type="text" placeholder="Enter a movie" required>
                    <div class="hr"></div>
                    <input type="submit" class="movie-button" value="Get Description" OnClick="moviesActors()">
                    <div class="hr2"></div>
                    <div class="moviesDisplay">
                        <p id="director"></p>
                        <p id="actors"></p>
                        <p id="released"></p>
                        <p id="genre"></p>
                        <p id="plot"></p>
                    </div>
                </div>
                <div id="Amovies" class="col-sm-4">
                    <h3>Movie Ratings</h3>
                    <input id="aMovie" class="movie-input" type="text" placeholder="Enter a movie" required>
                    <div class="hr"></div>
                    <input type="submit" class="movie-button" value="Get Reviews" OnClick="moviesReviews()">
                    <div class="hr2"></div>
                    <div class="moviesDisplay">
                        <p id="awards"></p>
                        <p id="boxOffice"></p>
                        <p id="imdbRating"></p>
                        <table id="listRatings"></table>
                    </div>
                </div>
                <div id="MoneyConverter" class="col-sm-4">
                    <h3>Currency Converter</h3>
                    <select id="curSrc">
                        <option value="AUD">Australian dollar</option>
                        <option value="BGN">Bulgarian lev</option>
                        <option value="BRL">Brazilian real</option>
                        <option value="CAD">Canadian dollar</option>
                        <option value="CHF">Swiss franc</option>
                        <option value="CNY">Chinese yuan renminbi</option>
                        <option value="CZK">Czech koruna</option>
                        <option value="DKK">Danish krone</option>
                        <option value="EUR">Euro</option>
                        <option value="GBP">Pound sterling</option>
                        <option value="HKD">Hong Kong dollar</option>
                        <option value="HRK">Croatian kuna</option>
                        <option value="HUF">Hungarian forint</option>
                        <option value="IDR">Indonesian rupiah</option>
                        <option value="ILS">Israeli shekel</option>
                        <option value="INR">Indian rupee</option>
                        <option value="ISK">Icelandic krona</option>
                        <option value="JPY">Japanese yen</option>
                        <option value="KRW">South Korean won</option>
                        <option value="MXN">Mexican peso</option>
                        <option value="MYR">Malaysian ringgit</option>
                        <option value="NOK">Norwegian krone</option>
                        <option value="NZD">New Zealand dollar</option>
                        <option value="PHP">Philippine piso</option>
                        <option value="PLN">Polish zloty</option>
                        <option value="RON">Romanian leu</option>
                        <option value="RUB">Russian rouble</option>
                        <option value="SEK">Swedish krona</option>
                        <option value="SGD">Singapore dollar</option>
                        <option value="THB">Thai baht</option>
                        <option value="TRY">Turkish lira</option>
                        <option value="USD">US dollar</option>
                        <option value="ZAR">South African rand</option>
                    </select>
                    <span>to</span>
                    <select id="curDst">
                        <option value="AUD">Australian dollar</option>
                        <option value="BGN">Bulgarian lev</option>
                        <option value="BRL">Brazilian real</option>
                        <option value="CAD">Canadian dollar</option>
                        <option value="CHF">Swiss franc</option>
                        <option value="CNY">Chinese yuan renminbi</option>
                        <option value="CZK">Czech koruna</option>
                        <option value="DKK">Danish krone</option>
                        <option value="EUR">Euro</option>
                        <option value="GBP">Pound sterling</option>
                        <option value="HKD">Hong Kong dollar</option>
                        <option value="HRK">Croatian kuna</option>
                        <option value="HUF">Hungarian forint</option>
                        <option value="IDR">Indonesian rupiah</option>
                        <option value="ILS">Israeli shekel</option>
                        <option value="INR">Indian rupee</option>
                        <option value="ISK">Icelandic krona</option>
                        <option value="JPY">Japanese yen</option>
                        <option value="KRW">South Korean won</option>
                        <option value="MXN">Mexican peso</option>
                        <option value="MYR">Malaysian ringgit</option>
                        <option value="NOK">Norwegian krone</option>
                        <option value="NZD">New Zealand dollar</option>
                        <option value="PHP">Philippine piso</option>
                        <option value="PLN">Polish zloty</option>
                        <option value="RON">Romanian leu</option>
                        <option value="RUB">Russian rouble</option>
                        <option value="SEK">Swedish krona</option>
                        <option value="SGD">Singapore dollar</option>
                        <option value="THB">Thai baht</option>
                        <option value="TRY">Turkish lira</option>
                        <option value="USD">US dollar</option>
                        <option value="ZAR">South African rand</option>
                    </select>
                    <input type="text" class="money-input" id="qte" placeholder="Quantity to convert">
                    <div class="hr"></div>
                    <input type="submit" class="money-button" value="Convert Currency" onClick="calc()">
                    <div class="hr2"></div>
                    <div class="moneyDisplay">
                        <p id="result"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="script/weather.js"></script>
    <script type="text/javascript" src="script/todolist.js"></script>
    <script type="text/javascript" src="script/movies.js"></script>
    <script type="text/javascript" src="script/money.js"></script>
    <script type="text/javascript" src="script/etc.js"></script>
</body>
</html>